@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#my_body {
    background-color: rgb(214, 214, 214);;
}
.input_username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my_block {
    max-width: 100%;
    /* margin: 0 auto;
    padding: 20px; */
}

.containers {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search_controller {
    color: gray;
    border-radius: 10px;

}
.search_controller a {
    text-decoration: none;
}

.usr_input {
    width: 400px;
    height: 26px;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.5);
}
.enter {
    box-sizing: border-box;
    box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.5);
    height: 26px;
    text-align: center;
    margin: auto;
}
.search_select {
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.5);
}
#fileContent {
    max-height: 400px; /* Adjust the max height as needed */
    overflow-y: auto;
    border: 1px solid #ddd; /* Add a border for better visibility */
    padding: 10px;
    background-color: rgb(216, 230, 228);
    border-radius: 4px;
}

/* .search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(168, 168, 168);
} */

.advanced{

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active


 {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}


.advanced{

    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;


}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
}
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.account-heading {
    font-size: 2.5rem;
}

.landing-page {
    background-color: white;
}

.landing-header {
    background: #E5E6E4;
    background-size: cover;
    background-position: center;
}

.landing-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    color: black;
    /* height: 100vh; */
}

.col-2 {
    padding-top: 90px;
    flex-basis: 50%;
    min-width: 300px;
    padding-bottom: 40px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 img {
    width: 100%;
}

.btn a {
    color: white;
    text-decoration: none;
}

.item-func {
    background: #BFBFFF;  
    margin-top: 20px;
    /* padding: 30px 0; */
    padding-bottom: 30px;
}

.item-img {
    padding: 50px;
    border-radius: 10px;
}