{% extends 'index.html' %}
{% block content %}
    <div class="containers">
        <h1>About GitSummary</h1>
        <div class="container content-section">
            <p>
                Gitsummary is an application that i thought about to allow users or potential users of github
                use to view their favourite github user's profile or their favourite repsoitories
                <br/>
                Gitsummary is an easy to use github profile and repository search engine for those who do not want to go
                through the trouble of navigating through github or for those who do not want the hassle of leaving
                multiple tabs of multiple repsoitories open on thier browsers.
                </br>
                Gitsummary gives it's users the ability to save their favourite repositories for later. Of course users can 
                also delete repositories that they feel that they do not need anymore.
            </p>
        </div>
    </div>
{% endblock %}