{% extends 'index.html' %}
{% block content %}
    <div class="container content-section">
        <h3>About Page</h3>
        <p>
            GitSummary is a simple Github profile and repository search engine that gives you access to a Github user's profile and their repositories
            Logged in Users are also able to save repositories and view their content whenever they like
        </p>
    </div>
    <div class="container content-section">
        <h4>How To USE</h4>
        <p>Just simple choose your search type <span class="text-primary">Users</span> or <span class="text-primary">Repository</span> and then search</p>
    </div>
{% endblock %}