{% extends 'index.html' %}
{% block content %}
    {% if saved_repo %}
        <!-- <h3>Saved Repository</h3>
        <p><strong>Repo:</strong> {{ saved_repo.repository_name }}</p>
        <p><strong>Owner:</strong> {{ searched_data.owner.login }}</p>
        <p><strong>Description:</strong> {{ searched_data.description }}</p>
        <p><strong>Stars:</strong> {{ searched_data.stargazers_count }}</p> -->
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ searched_data.owner.avatar_url }}" class="img-fluid rounded-start" alt="owner profile picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ saved_repo.repository_name }}</h5>
                        <h5 class="card-text">By {{ searched_data.owner.login }}</h5>
                        <p class="card-text">{{ searched_data.description }}</p>
                        <p class="card-text"><small class="text-muted">Stars: {{ searched_data.stargazers_count }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h5>Files and Folders in the Repository</h5>
        <ul id="fileList" class="list-group">
            {% for file in content_data %}
                <li class="list-group-item">
                    {% if file.type == 'file' %}
                        <span><b>File</b>: <i>{{ file.path }}</i> </span>
                        <button type="button" class="showContentBtn btn btn-outline-primary" data-url="{{ file.download_url }}">Show Content</button>
                    {% elif file.type == 'dir' %}
                        <span><b>Folder</b>: <i>{{ file.path }}</i></span>
                        <button type="button" class="exploreFolderBtn btn btn-outline-secondary" data-url="{{ file.url }}">Explore Folder</button>
                        <div class="nestedContents" style="margin-left: 20px;"></div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br/>
        <div class="content_display" id="fileContent"></div>
        <br/>
        <form method="POST" action="{{ url_for('repos.delete_saved_repository', repo_id=saved_repo.id) }}">
            <button type="submit" class="btn btn-danger">Delete Saved Repository</button>
        </form>
    {% endif %}
{% endblock content %}
